<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>837090081320-ei5ml41f6qoefkjhmrn3eql7u63o46c4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.837090081320-ei5ml41f6qoefkjhmrn3eql7u63o46c4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>837090081320-5kti6jktbem7trj8eknd7dqj8upqrr1p.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA5cP246nWfGXM164kXPocdd2NOAjpW_mM</string>
	<key>GCM_SENDER_ID</key>
	<string>837090081320</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.flutter.flutter.app</string>
	<key>PROJECT_ID</key>
	<string>cowealth-bwu</string>
	<key>STORAGE_BUCKET</key>
	<string>cowealth-bwu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:837090081320:ios:da0c63831f156d0e89d31d</string>
	<key>DATABASE_URL</key>
	<string>https://cowealth-bwu-default-rtdb.firebaseio.com</string>
</dict>
</plist>